body, html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #dfe6eb;
}

.card-row {
    margin-bottom: 50px;
}

.full-screen-wrapper {
  min-height: 100%;
  position: relative;
}

#container-wrapper {
  padding: 0px;
}

.main {
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: #043E68;
    color: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(35, 31, 32, 0.4);
    z-index: 99;
    padding: 10px 5px 10px 5px;
}

.jumbotron .container {
  padding: 0px;
}

.jumbotron h1 {
  font-size: 28px;
  margin: 0px;
  text-align: center;
}

.jumbotron h3 {
  margin: 0px;
}

hr {
  margin-top: 5px;
}

.feedback-separator {
  margin: 10px 0px;
  border-top: 1px solid #dfe6eb;
}

.header-container {
  padding: 25px 0px 0px 0px;
}

.header-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}

#header-product {
  text-align: left;
  padding-left: 25px;
}

.light-blue {
  color: #1BB2DD;
}

.container-fluid .jumbotron {
  border-radius: 0;
}

.btn-primary {
    background-color: #043E68;
    border: none;
    border-radius: 0;
}

.offline {
    background-color: red;
}
.online {
    background-color: green;
}

#footer {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
    color: #333;
    text-align: center;
    clear: both;
}

#footer a {
  color: #333;
}


* { 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.item {
    border: 1px solid #ddd;
}

.item-price {
    font-weight: bold;
    margin: 0px;
}

.item-name {
    margin: 0px;
}

.item, .agent-controls {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.agent-controls {
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.controls {
  display: none;
}

.item:last-child {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

.item:before {
  background-color: black;
  width: 10px;
  height: 100%;
}

.item:hover {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.transcript-box {
  margin-bottom: 10px;
}

.video, .transcript {
  margin-top: 15px;
  display: none;
}

.video video {
  width: 100%;
  height: 500px;
}

.panel-title {
  margin-top: 30px;
}

.panel-price {
  margin-top: 38px;
}

.panel-customer {
  margin-top: 20px;
}

.task-title {
  margin-top: 19px;
}

.task-price {
  margin-top: 26px;
}

.customer-info {
  margin: 0px;
}

.customer-actions{
  margin-top: 36px;
  text-align: right;
}

.panel-icon {
  margin: 0px 5px;
  cursor: pointer;
}

.review-actions {
  text-align: right;
}

.review-actions a {
  background-color: #ecf0f2;
  margin: 5px 5px 0px 0px;
}

.feedback-title {
  padding: 0px 0px 5px 18px;
  margin-bottom: 0px;
  font-weight: bold;
}

.go-online, .well {
  border-radius: 0;
}

.glyphicon.large {
    font-size: 5em;
}

.glyphicon.green {
    color: green;
}

.glyphicon.red {
    color: red;
}

.tags{
  padding: 5px;
  margin: auto;
}

.tag {
  display: inline-block;
  background: #043E68;
  color: #FFF;
  padding: 5px 15px 5px 18px;
  margin:2px 2px 2px 4px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow:1px 1px 0 rgba(0,0,0,.2);
  -webkit-transform-origin:0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s ;
}

.tag:after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: -3px;
  top: 12px;
}
